.container {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 100px 20px;
  gap: 30px;
  box-sizing: border-box;
  min-height: 80vh;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}